body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

#current {
    display: block;
    align-items: center;
    justify-content: end;
    padding-left: 3vw; 
}

#currentCard {
    height: 30vh;
    width: 130vh;
    align-self: center;
    position: relative;
}

.col {
    display: inline;
    width: 12vw;
    margin: 3px;
    padding: 3px;
}

.current {
    margin-top: 30px;
}

.list-group {
    align-items: center;
    width: 100%;
}

.list-group-item {
    width: 100%;
}

.main-container{
    width: fit-content;
    margin-top: 20px;
}

#current-card {
    width: 100%;
    height: 10rem;
    background-color: blue;
    color: white;
}
